@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Titillium+Web:wght@600&display=swap');

body::before{
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages8.alphacoders.com%2F101%2F1016892.jpg&f=1&nofb=1&ipt=adb317c54e296f72c2abb21f7eb8b3b99b1bbb9d14a0ec144c64407fac78da3d&ipo=images);
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}

.container{
    color: antiquewhite;
    letter-spacing: 2px;
    word-spacing: 1px;
    font-family: 'Edu SA Beginner', cursive;
    border-radius: 10px;
    background-color: rgba(27, 27, 26, 0.4);
    background-position: center;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    margin: 10px auto;
    box-sizing: border-box;
}

.container:hover{
    box-shadow: 0px 0px 100px 5px black;
}

.submit-btn {
    width: 90%;
    max-width: 90%;
    background-image: linear-gradient(#ece942, #c9ab00);
    border: 1px solid #ccc900;
    border-radius: 4px;
    box-sizing: border-box;
    color: #000000;
    cursor: url(https://cdn.custom-cursor.com/db/pointer/32/burger_pointer.png), auto;
    direction: ltr;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: .044em;
    line-height: 1.47059;
    min-width: 90%;
    overflow: visible;
    padding: 4px 15px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto
}

.submit-btn:disabled {
  cursor: default;
  opacity: .3;
}

.submit-btn:hover {
  background-image: linear-gradient(#e3ee51, #bbcd14);
  border-color: #d0bd14;
  text-decoration: none;
}

.submit-btn:active {
  background-image: linear-gradient(#cfd93d, #b9a600);
  border-color: #bc7a00;
  outline: none;
}

.submit-btn:focus{
  box-shadow: rgba(253, 241, 131, 0.5) 0 0 0 3px;
  outline: none;
}

fieldset{
    border:none;
    box-sizing: border-box;
}

.header{
    padding-bottom: 10px;
    box-sizing: border-box;
}

.header:hover{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(90deg,rgba(46, 46, 28, 0.05) 0%,rgba(218, 235, 146, 0.1) 70%);
}

#title{
    padding-left: 7px;
    padding-right: 7px;
    width: 100%;
    padding-top: 15px;
    color: blanchedalmond;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: -5px;
    text-align: center;
    color: aliceblue;
}

#description{
    box-sizing: border-box;
    margin-top: 4px;
    text-align: center;
    width: 100%;
}

hr{
    color: #c9ab00;
    border-color: #eee380;
    box-sizing: border-box;
    margin-top: -3px;
}

.footer{
    font-size: 13px;
    text-shadow: 0px 0px 10px 50px #000000;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.footer:hover{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: linear-gradient(90deg,rgba(218, 235, 146, 0.1) 0%,rgba(46, 46, 28, 0.05) 70%);
}

hr:last-of-type{
    margin-bottom: -2px;
}

a{
    text-decoration: none;
    color: #eee8b0;
}

a:hover{
    color:#e2a026;
}

.data,.in{
    margin-bottom: 20px;
    font-size: large;
    box-sizing: border-box;
    width: 100%;
    border: none;
    display: block;
}

.in,.selection{
    font-size: large;
    word-spacing: 1px;
    letter-spacing: 2px;
    border-radius: 5px;
    color: #fcf195;
    font-family: 'Edu SA Beginner', cursive;
    background-color: rgba(82, 80, 80, 0.5);
    padding: 5px;
    margin-top: 10px;
}

.in:hover,.selection:hover{
    box-shadow: 10px 10px 10px 3px rgba(0, 0, 0, 0.4);
    background: linear-gradient(90deg,rgba(218, 235, 146, 0.1) 0%,rgba(46, 46, 28, 0.05) 70%);
}

::placeholder{
    color: rgba(255, 228, 196, 0.3);
    font-size: medium;
    font-family: 'Edu SA Beginner', cursive;
}

.selection{
    width: 100%;
    border: none;
    margin-top: -10px;
}

option{
    letter-spacing: 2px;
    word-spacing: 1px;
    font-weight: 400;
    font-size: large;
    color: #000000;
    background-color: #fffce6;
}

option::selection{
    background-color: #bc7a00;
}

.rad{
    margin-left: 25px;
    padding: 2px;
    width: 100%;
}

.rad:hover{
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.check{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box{
    margin-bottom: -1px;
}

.space{
    margin-left: 20px;
}

.check:hover{
    background: linear-gradient(90deg,rgba(218, 235, 146, 0.1) 0%,rgba(46, 46, 28, 0.05) 70%);
}

textarea{
    font-size: large;
    word-spacing: 1px;
    letter-spacing: 2px;
    border-radius: 5px;
    color: #fcf195;
    font-family: 'Edu SA Beginner', cursive;
    padding: 5px;
    background-color: rgba(82, 80, 80, 0.5);
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    display: block;
    border-color: #444444;
    border-width: 2px;
}

textarea:hover{
    border-color: #bc7a00;
    box-shadow: 10px 10px 10px 3px rgba(0, 0, 0, 0.4);
    background: linear-gradient(90deg,rgba(218, 235, 146, 0.1) 0%,rgba(46, 46, 28, 0.05) 70%);
}

.data:first-of-type{
    margin-top: 13px;
}